.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;

    @media(min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
        justify-content: none;
    }


    &__item {
        margin: $s-size $s-size;
    }
}